spring:
  application:
    name: monthly-budget-api

  datasource:
    url: jdbc:h2:mem:monthlydb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: mbSUPER
    password: x123MM21@X4!
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html

app:
  jwt:
    secret: MmI1ZDk4NzNhOGQxNGY2MWJjZTRhNzVmNjc4MzBhYjJkZWY0NTY3ODkwYWJjZGVm
    expiration: 86400000