
server:
  port: 10000

spring:
  datasource:
    driverClassName: org.postgresql.Driver
  h2:
    console:
      enabled: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false